MIKROTIK_HOST=192.168.1.254
MIKROTIK_PORT=8728
MIKROTIK_USER=netflow_reader
MIKROTIK_PASSWORD=CAMBIAR_ESTA_CLAVE
MIKROTIK_USE_SSL=false
INTERNAL_NETWORKS=192.168.1.0/24
DASHBOARD_ENABLED=true
DJANGO_SECRET_KEY=change-me-local-only
DJANGO_DEBUG=true
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost,192.168.1.114
DATABASE_PATH=data/netflow.db
EXCEL_PATH=data/reporte_trafico.xlsx
